{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="text-align: center">Modifier sortie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enregister</button>
    <a href="{{ path('affichage') }}" class="btn btn-primary">Annuler</a>
    {{ form_end(form) }}
{% endblock %}

