{% extends 'base.html.twig' %}

{% block body %}
        <h1 style="text-align: center">Nouvelle sortie</h1>

        {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Enregister</button>
                <button type="submit" class="btn btn-primary">Publier une sortie</button>
                <a href="{{ path('affichage') }}" class="btn btn-primary">Annuler</a>
        {{ form_end(form) }}
{% endblock %}



