{% extends 'base.html.twig' %}

{% block body %}

        <h1 style="text-align: center">Nouvelle sortie</h1>
<form>
        <div class="row mt-5">
                <div class="form-group row mt-2">
                        <label for="" class="col-sm-2 col-form-label">Le nom de la sortie :</label>
                                <div class="col-sm-4">
                                        <input id="" type="text" class="form-control">
                                </div>
                  </div>
                <div class="form-group row mt-2">
                        <label for="" class="col-sm-2 col-form-label">Date et heure de la sortie :</label>
                                <div class="col-sm-4">
                                        <input id="" type="date" class="form-control">
                                </div>
                <div class="form-group row mt-2">
                        <label for="" class="col-sm-2 col-form-label">Date limite d'inscription :</label>
                        <div class="col-sm-4">
                                <input id="" type="date" class="form-control">
                        </div>
        </div>

{% endblock %}



